.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Navbar{
  border: solid whitesmoke;
  border-width: 0.3em;
  height: 90px;
  width: 100%;
  justify-content: space-evenly;
}
.header{
  height: 70px;
  display: flex;
  justify-content: space-evenly;
}
.icons{
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}
.icon{
  height: 60px;
  width: 150px;
  color: tan;
  text-decoration: none;
  font-size: 22px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  align-content: center;
  margin-top: 30px;
  font-weight: bolder;
}
.aboutUs{
  margin: 30px;
  display: flex;
  border: solid green;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 22px;
}
.about{
  border: solid #ff0000;
  display: flex;
  margin: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  justify-content: left;
}
.para{
  border: solid purple;
  margin: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
}
.tripPictures{
  border: solid salmon;
  height: 400px;
}
.ourTrips{
  border: solid lawngreen;
  height: 750px;
  display: flex;
}
.tripOne{
  border: solid blue;
  height: 300px;
  width: 25%;
}
.tripTwo{
  border: solid red;
  height: 300px;
  width: 25%;
}
.tripThree{
  border: solid green;
  height: 300px;
  width: 25%;
}
.tripFour{
  border: solid rgb(0, 234, 255);
  height: 300px;
  width: 25%;
}
.tripFive{
  border: solid yellow;
  height: 300px;
  width: 25%;
}
.tripSix{
  border: solid black;
  height: 300px;
  width: 25%;
}


